body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
}
button{
  border: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#193763, 0) 0,
          rgba(#193763, 0.2) 20%,
          rgba(#193763, 0.5) 60%,
          rgba(#193763, 0)
      );
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}

.custom-toast-right  {
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  right: 0 !important; /* Adjust the left position as needed */
}
